/* .tab {
  margin: 5%;
} */

/* Style the tab content */
.tabs-body {
  /* background-color: black; */
  display: none;
  /* opacity: 0.7; */
  padding: 6px 12px;
  /* border: 1px solid black; */
  /* border-top: none; */
  min-height: 100px;
  backdrop-filter: brightness(95%);
}


.tabs-body:hover {
  /* opacity: 1.0; */
}


.tabs-header {
  overflow: hidden;
  /* border: 1px solid black; */
  /* border-top: none; */
  /* border-bottom: none; */
  /* background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
/* .tabs-header button  */
  
.tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  /* transition: 0.1s; */
  transition: border-color 1s ease;  
  font-size: 17px;
  margin:1px;
}

/* Change background color of buttons on hover */
.tablinks:hover {
  /* background-color: #ddd; */
  /* filter: invert(1); */
  /* mix-blend-mode: difference; */
  /* border: 1px solid black; */
  /* border-radius: 10px; */
  border-bottom: none;
  backdrop-filter: brightness(95%);

}

/* Create an active/current tablink class */
.tablinks.active {
  /* background-color: #ccc; */
  /* filter: brightness(150%); */
  border: 1px solid black;
  /* border-radius: 10px; */
  border-bottom: none;
  backdrop-filter: brightness(95%);

}

