body {
    background-color: #e3dfec;
    color: #09255d;
    padding: 0.5%;
}
    

form {
    background-color: #c7bfd9;
    padding: 0.5%;
    margin-right: 50%;
}

#form-lvl-1 {
    display: block;
}

#form-lvl-2 {
    display: none;
}

#form-lvl-3 {
    display: none;
}

.form {
    margin: 1%;
    border: 1px;
}

label {
    font-variant: small-caps;
}

